.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* fade-in 애니메이션 적용 */
.fade-in {
  animation: fadeIn 1.5s forwards; /* 지속 시간을 1s로 변경 */
}

/* fade-out 애니메이션 적용 */
.fade-out {
  animation: fadeOut 1.5s forwards; /* 지속 시간을 1s로 변경 */
}

@font-face {
  font-family: Pretendard;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Regular.woff2")
      format("woff2"),
    url("../node_modules/pretendard/dist/web/static/woff/Pretendard-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Pretendard;
  src: url("../node_modules/pretendard/dist/web/static/woff2/Pretendard-Bold.woff2")
      format("woff2"),
    url("../node_modules/pretendard/dist/web/static/woff/Pretendard-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
}
